<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zcw.base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <!-- 守护进程 -->
        <service
            android:name="com.zcw.base.daemon.DaemonService"
            android:enabled="true"
            android:exported="false" />

        <!-- 5.x 以上使用 JobService 实现守护进程 -->
        <service
            android:name="com.zcw.base.daemon.DaemonJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>
